<jumbo>
    <div class="description">
  <h2>Welcome to Online Shopping!</h2>
  <p>We hope you find exactly what you're looking for to wear for your favourite occasions.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
    </div>
  <div class="cart">
    <img src="../assets/images/cart.png" alt="cart">
  </div>
</jumbo>

<Products @products={{@model}} />
{{!-- <Product @product={{@model}}/> --}}