<h3 style="color: #fff;">Create an item</h3>
<form class="post-form">
    <div class="form-input-material">
    <label for="title">Title</label>
    <input type="text" id="title">
    </div>
        <div class="form-input-material">
    <label for="brand">Brand</label>
    <input type="text" id="brand">
    </div>
    <div class="form-input-material">
    <label for="occasion">Occasion</label>
    <input type="text" id="occasion">
    </div>
    <div class="form-input-material">
    <label for="cost">Price</label>
    <input type="text" id="cost">
    </div>
    <div class="form-input-material">
    <label for="image">Image</label>
    <input type="url" id="image">
    </div>
    <button type="submit">Post</button>
</form>